* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

/* VARIABLES/COLOR PALETTE STYLES */
:root {
    --main-color: #4E8237;
    --secondary-color: #000000;
	--accent-color: #eeeeee;
}
/* Making use of variables for colors makes it easy to swap them out for better contrast/accessibility. For instance, I'm replacing the main color used in the original site design (#77a466) because it didn't pass WCAG 2.0 AA contrast standards with the white background used throughout. */

/* BASE STYLES */
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.wrapper {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
.container {
	/* max-width: 1200px;
	width: 90%; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
/* Trying to get the content all centered in one long column for Mobile specs. Flex-direction: column and flex-flow: column wrap get CLOSE to achieving this, but aren't stacking ALL content vertically. I thought maybe setting width to 100% but that's not working either. */

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 1em;
}

p {
	font-size: 1em;
	line-height: 21px;
}

ul {
	margin: 0;
}

figure {
	margin: 0;
}
#copyright {
	width: 100%;
}
#copyright p {
	font-size: 0.875em;
	margin: 0 0 1em;
}
#copyright a {
	color: var(--main-color, darkolivegreen);
	text-decoration: none;
}
#copyright a:hover,
#copyright a:focus {
	text-decoration: underline;
	text-decoration-thickness: .2em;
	text-underline-offset: 0.1em;
}


/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid var(--main-color, darkolivegreen); 
	/* border-bottom: 3px solid #77a466; */
	/* text-align: center; */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
	padding: 38px 20px 20px 20px;
	border-bottom: 3px solid var(--main-color, darkolivegreen); 
	/* border-bottom: 3px solid #77a466; */
	/* width: 100%; */
}
header h1 span {
	color: var(--main-color, darkolivegreen); 
	/* color: var(--main-color, #77a466); */
}

header .logo {
	text-decoration: none;
}

header nav {
	padding: 20px 0;
	width: 100%;
	text-align: center;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	padding: 10px 0;
	list-style: none;
}
header nav ul li a {
	text-decoration: none;
	color: var(--main-color, darkolivegreen);
	/* color:#77a466; */
}
header nav ul li a:hover,
header nav ul li a:focus {
	/* color:#333; */
	text-decoration: underline;
	text-decoration-thickness: .2em;
	text-underline-offset: 0.1em;
}
.active {
	color:#333;
	text-decoration: underline;
	text-decoration-thickness: .2em;
	text-underline-offset: 0.1em;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid var(--main-color, darkolivegreen);
	/* border-bottom: 3px solid #77a466; */
}

.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: var(--main-color, darkolivegreen);
	/* color: #77a466; */
}
.main-title p {
	padding: 0;
	/* font-size: 1em; */
	line-height: 1.563;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color: var(--main-color, darkolivegreen);
}
.bottom-section a {
	text-decoration: none;
	color: var(--main-color, darkolivegreen);
}
.bottom-section a:hover,
.bottom-section a:focus {
	/* color:#333; */
	/* font-weight: 700; */
	text-decoration: underline;
	text-decoration-thickness: .2em;
	text-underline-offset: 0.05em;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.313;
}

.address {
	font-size: 1em;
	line-height: 1.5;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: var(--main-color, darkolivegreen);
	font-size: 0.875em;
}

/*************** ABOUT PAGE STYLES ***************/
.fontawesome-icon {
	display: flex;
	justify-content: center;
}
i {
	font-size: 4em;
  	margin-bottom: 10px;
	text-align: center;
	color: var(--main-color, darkolivegreen);
	/* color: #77a466; */
}
ul.lure {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	padding: 0;
}
li.lure-item {
	margin: 5px;
	list-style: none;
	padding: 5px;
}
.lure a {
	text-decoration: none;
	background-color: #FFFFFF;
	color: var(--main-color, darkolivegreen);
	border: 2px solid var(--main-color, darkolivegreen);
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 25px;
}
.lure a:hover,
.lure a:focus {
	/* color:#333; */
	background-color: var(--main-color, darkolivegreen);
	color:#FFFFFF;
}

/*************** MENUS PAGE STYLES ***************/
h2 {
	/* font-size: 1.5em; */
	text-align: center;
}
nav.menu-nav {
	/* padding: 20px 0; */
	width: 100%;
	text-align: center;
}
nav.menu-nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
}
nav.menu-nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	padding: 10px;
	list-style: none;
}
nav.menu-nav ul li a {
	text-decoration: none;
	color: var(--main-color, darkolivegreen);
}
nav.menu-nav ul li a:hover,
nav.menu-nav ul li a:focus {
	/* color:#333; */
	text-decoration: underline;
	text-decoration-thickness: .2em;
	text-underline-offset: 0.1em;
}

.weekly-menu .container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.weekly-menu h2 {
	/* font-size: 1.25em; */
	padding: 20px 0;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 0.5em;
	text-decoration-color: var(--main-color, darkolivegreen);
}
.menu-descrip {
	text-align: center;
}
.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}
.item:last-child {
	margin: 0 0 12px;
}
.item figure {
	/* width: 20%; */
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item h3 {
	width: 100%;
	/* font-size: 1.125em; */
	margin: 1em 0 .5em;
}
.item img {
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px;  /* Rounded border */
	padding: 5px; /* Some padding */
	width: 100px; /* Set a small width */
  }
.item p {
	width: 60%;
	color: var(--main-color, darkolivegreen);
	margin: .5em 0 1em;
	line-height: 1.5em;
}

/*************** LOCATIONS PAGE STYLES ***************/
.locations.bottom-section h3 {
	text-align: center;
}
.hours ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
	padding: 0;
}
.hours ul li {
	color: #000000;
	list-style: none;
	width: 100%;
	padding-bottom: 3%;
}
.hours p span, 
.hours ul li span {
	color: var(--main-color, darkolivegreen);
}

#map figure {
	width: 100%;
	height: 0; 
	/* padding-bottom: 125%;  */
	padding-bottom: 95%; 
	overflow: hidden;
	position: relative;
}
#map iframe {
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0; 
	left: 0; 
}

/*************** GALLERY page STYLES ***************/
/* Used w3Schools' Slideshow Gallery code as a base for my own gallery here. */

/* Position the image container (needed to position the left and right arrows) */
.gallery.main-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
.gallery.main-title h2,
.gallery.main-title p {
	text-align: center;
}
.gallery.bottom-section {
	justify-content: center;
	border-top: none;
}
.gallery.container {
	position: relative;
	width: 80%;
}

/* Hide the images by default */
.mySlides {
	display: none;
}
/* But show the first image by default */
.display.mySlides {
	display: block;
}
/* This ensures the caption container entirely fills the space between the .gallery.container img and the thumbnail images, getting rid of a small white space between the first 2. */
img {
	vertical-align: middle;
}
  
/* Add a pointer when hovering over the thumbnail images */
.cursor {
	cursor: pointer;
}
  
/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.prev {
	left:0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
/* Container for image text */
.caption-container {
	text-align: center;
	background-color: var(--main-color, darkolivegreen);
	padding: 2px 16px;
	color: white;
	width: 100%;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}
  
/* Six columns side by side */
.column {
	float: left;
	width: 16.66%;
}
  
/* Add a transparency effect for thumnbail images */
.demo {
	opacity: 0.6;
}
  
.active,
.demo:hover {
	opacity: 1;
}

/*************** REVIEWS page STYLES ***************/
.reviews.main-title {
	width: 100%;
}

p.reviews.fontawesome-icon {
	margin: 1.25em 0 0;
}
.reviews i {
	font-size: 1em;
	color: var(--main-color, darkolivegreen);
	margin-bottom: 0;
}

/*************** CONTACT page STYLES ***************/

.social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
.social-icons p {
	margin: 0;
}
.social-icons i {
	font-size: 2em;
	padding: 0 .5em;
}
.social-icons i:hover,
.social-icons i:focus {
	color: #000000;
}
aside.contact-form {
	background-color:rgb(78, 130, 55, .25);
	/* background-color: rgba(255, 255, 255, .75); */
	padding: 10px;
	max-width: 600px;
	margin: 1em 0;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.5); 
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.5);
}
.form-description {
	/* background-color: var(--main-color, darkolivegreen); */
	/* background-color: rgba(78, 130, 55, .5);  */
	background-color: rgba(255, 255, 255, .5);
}
form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
.input-group {
	background: var(--main-color, darkolivegreen);
	padding: .5em;
	margin: .5em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 5px;
	width: 100%;
}
form h4 {
	text-align: center;
	margin: 1em 0 .5em;
	width: 100%;
}
aside.contact-form textarea {
	width: 200px;
	height: 200px;
}
span.input-group-addon {
	/* background-color: #FFF; */
	padding: .5em;
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}
i.input-icon {
	width: 15px;
	height: 15px;
	font-size: 1em;
	margin: 0;
	color: #fff;
}
.form-control {
	width: 85%;
}
textarea#review.form-control {
	width: 100%;
}
.btn {
	color: var(--main-color, darkolivegreen);
	background-color: #fff;
	border: 2px solid var(--main-color, darkolivegreen);
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 25px;
}
.btn:hover,
.btn:focus {
	background-color: var(--main-color, darkolivegreen);
	color:#FFFFFF;
}


/*************** RESPONSIVE STYLES & BREAKPOINTS START HERE ***************/

/*************** TABLET STYLES ***************/
@media all and (min-width:768px) {
	
	.bottom-section {
		justify-content: space-between;
		align-items: flex-start;
		border-top: 1px solid #eee;
	}
	.section-one,
	.section-two, .section-three {
		border-top: none;
		flex-basis: 30%;
	}
	
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
	}

	/*************** tablet ABOUT PAGE STYLES ***************/
	#about-sec2 h3 {
		text-align: center;
	}
	#about-sec3 h3 {
		text-align: right;
	}

	/*************** tablet MENUS PAGE STYLES ***************/
	.item {
		justify-content: space-around;
	}
	.item img {
		width: 150px; /* Set a small width */
	}

	/*************** tablet LOCATIONS PAGE STYLES ***************/
	.locations.bottom-section {
		justify-content: space-around;
	}
	.hours, 
	.map {
		flex-basis: 45%;
	}
	.map {
		border-right: none;
	}

	/*************** tablet REVIEWS PAGE STYLES ***************/
	/* .reviews.main-title {
		display: flex;
		justify-content: flex-start;
		width: 100%;
	} */
	.spotlight.reviews {
		max-width: 700px;
	}
	p.spotlight.reviews {
		font-size: 1.125em;
		line-height: 1.5em;
	}
	

	/*************** tablet CONTACT PAGE STYLES ***************/
	.social-icons i {
		padding: 0 1em;
	}
}

/*************** DESKTOP STYLES ***************/
@media all and (min-width:1200px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.125em;
	}
	p {
		font-size: 1.125em;
	}
	header {
		justify-content: space-between;
	}
	header h1 {
		/* width: 30%; */
		padding: 0;
		border-bottom: none;
		text-align: left;
	}
	header nav {
		width: 50%;
	}
	header nav ul {
		display: flex;
		justify-content: space-between;
	}

	/*************** desktop ABOUT PAGE STYLES ***************/
	#about-sec1,
	#about-sec3 {
		flex-basis: 25%;
	}
	#about-sec2 {
		flex-basis: 40%;
	}

	/*************** desktop MENUS PAGE STYLES ***************/
	nav.menu-nav ul li {
		font-size: 1.125em;
	}
	.item {
		justify-content: center;
	}
	.item img {
		width: 200px; /* Set a small width */
	}
	.item p {
		margin-left: 3%;
	}
	
	/*************** desktop GALLERY PAGE STYLES ***************/
	.gallery.container {
		width: 75%;
	}
}